@import '_mixins';

*,
*:before,
*:after {
  box-sizing: border-box;
}

svg, img, picture {
  display: block;
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--color-bg);
}

#root {
  max-width: min(60em, 100%);
  margin: auto;
}

:root {
  --color-dark: #171520;
  --color-bg-darker: #171520;
  --color-bg-dark: #241b2f;

  --color-bg: #2a2139;

  --color-fg-yellowish-glow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;

  --color-fg-white: #dadbe0;

  --color-fg-green: #6de5af;
}

.title {
  @include title;
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

.green {
  color: var(--color-fg-green);
  text-shadow: 0 0 2px #100c0f, 0 0 5px #257c5575, 0 0 25px #21272475;
}

.blue {
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
}

.Contact {

  &__List {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 4em;

    img {
      height: 3em;
    }
  }
}