.colored {
    backface-visibility: hidden;
}

.colored.YELLOW {
    color: #f4eee4;
    text-shadow: 0 0 2px #393a33, 0 0 8px #f39f05, 0 0 2px #f39f05;
}

.colored.BLUE {
    color: #fdfdfd;
    text-shadow: 0 0 2px #001716, 0 0 3px #03edf9, 0 0 5px #03edf9, 0 0 8px #03edf9;
}

.colored.RED {
    color: #fff5f6;
    text-shadow: 0 0 2px #000, 0 0 10px #fc1f2c, 0 0 5px #fc1f2c, 0 0 25px #fc1f2c;
}

.colored.GREEN {
    color: #72f1b8;
    text-shadow: 0 0 2px #100c0f, 0 0 10px #257c55, 0 0 35px #212724;
}