.hero {
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: start;
    justify-content: center;

    padding-left: 5em;
    
    background-image: url('/assets/hero_bg.avif');
    background-position: left;
    background-size: cover;
}

@media(max-width: 500px) {
    .hero {
        padding-left: 1em;
    }
}

.hero .content {
    background-color: #00000090;
    padding: 0 .5em 0 .5em;
}

.hero h1 {
    margin-bottom: .5em;
}

.hero h2 {
    margin-bottom: 3em;
}

.hero a.content.button {
    border: 2px solid white;
    padding: .8em;
    text-decoration: none;
    cursor: pointer;
    color: white;
}