.Link {
    color: var(--color-fg-green);
    text-shadow: 0 0 2px #100c0f, 0 0 5px #257c5575, 0 0 25px #21272475;

    &--Button{
        background-color: var(--color-bg-darker);
        padding: .5em;
        border-radius: .75em;
        text-decoration: none;
    }
}