@import '_mixins';

.ProjectList {
  &__Title {
    @include title;
  }

  &__Description {
    text-align: center;
    color: var(--color-fg-white);
  }

  &__List {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
