@import '_mixins';

.TextBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    &__Title {
       @include title;
    }

    p {
        max-width: 45ch;
        text-align: justify;
        color: var(--color-fg-white);
    }

    @media (max-width: 49ch) {
        p {
            margin: 2ch;
        }
    }

}